.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body{
  margin: 0 !important;
  font-family: PingFangSC-Regular;
}

@font-face{
  font-family: PingFangSC-Regular, sans-serif;
  src: url('static/font/pingfang.ttf');
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* @import '~antd-mobile/dist/antd-mobile.less'; */
@import "./static/font/iconfont.css";
